html, body {
    width: 1080px;
    height: 1920px;
    margin: 0;
    overflow: hidden;

  }

.root {
    width: inherit;
    height: inherit;
    background-color: #35364a;
}

.container {
  aspect-ratio: 9 / 16;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sub_container {
  flex: 0.3;
  width: 100%;
  display: flex;
}

#weather_div {
  flex: 0.2;
  width: 96%;
  margin-left: 1%;
}

#camera_div {
  flex: 0.5;
  width: 96%;
  margin-left: 1%;
}

#traffic_div {
  flex: 0.5;
  width: 50%;
  margin-left: 1%;
  margin-bottom: 1%;
}

#todo_div {
  flex: 0.5;
  width: 50%;
  margin-bottom: 1%;
}

.content_div {
  margin-top: 1%;
  margin-right: 1%;
  padding: 1%;
  background-color: #4E516D;
  border-radius: 12px;
  color: #35364a;
  font-size: 24px;
  font-family: Arial, sans-serif;
}